* {
	box-sizing: border-box;
	border: 1px solid black;
}

html {
	min-width: 410px;
	font-size: 16px; 
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	min-width: 210px;
	min-height: 100vh;
	margin: 0 auto;
}

header {
	display: flex;
	height: 40px;
}

.Nazwa {
	padding-left: 0.4vw;
	background-color: #FF0000;
	color: #FFFF00;
	font-family: monospace;
	letter-spacing: -0.5px;
	width: 20%;
	font-size: 0.8rem;
	align-content: center;
}

.Nazwa-Text {
	background-color: #FF3535;
	border-radius: 6px;
	font-size: clamp(0.7rem, 1.8vw, 1.35rem);
	text-shadow: 1px 0.5px 0.5px #550000;
}

.Wyszukiwarka {
	width: 60%;
	align-content: center;
}

.Koszyk {
	width: 20%;
	align-content: center;
}

.Koszyk-button {
	margin-left: 4vw;
	width: 70%;
	height: 80%;
	background-color: #ffffff;
	border-radius: 10px;
}

main {
	height: 9999px; /*FIXME: zmienić to póżniej. */
}

main nav {
	font-family: monospace;
	letter-spacing: -0.5px;
	display: flex;
	height: clamp(2rem, 3vw, 3rem);
	gap: clamp(0.4rem, 0.7vw, 2rem);
}

.Category {
	text-align: center;
	padding: clamp(0.2rem, 0.3vw, 1.3rem) 0;
	background-color: #FFBB00;
	border-radius: 8px;
	font-size: clamp(1rem, 2vw, 1.5rem);
	width: 100%;
	height: clamp(2rem, 2.5vw, 3rem);
	a:link {
		cursor: pointer;
		text-decoration: none;
		text-shadow: 1px 1px 0.5px #222222;
	}
	
	a:visited {
		cursor: pointer;
		text-decoration: none;
		color: #FF0000;
	}
	
	a:hover {
		cursor: pointer;
		text-decoration: none;
		color: #FFE9E9;
	}
	
	a:active {
		cursor: pointer;
		text-decoration: none;
		color: #FF3535;
	}
}

.All {
	
}

.Komputery {
	
}

.Akcesoria {
	
}

.Foto-i-Video {
	
}

.Telefony {
	
}

.Moda {
	
}

main ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	list-style: none;
	padding: 30px;
	grid-gap: 5vw;
	margin-left: auto;
	margin-right: auto;
}


main li {
	width: clamp(8rem, 30vw, 20rem);
	height: clamp(5rem, 20vw, 13rem);
	margin-left: auto;
	margin-right: auto;
}

.Kartka-towaru {
	width: clamp(8rem, 30vw, 20rem);
	height: clamp(5rem, 20vw, 13rem);
}	


/*
	.Sluchawki 
	{
		
	}



	.Laptop 
	{
		
	}



	.Zegar 
	{
		
	}



	.Aparat-fotograficzny 
	{
		
	}



	.Smartphone 
	{
		
	}



	.Buty 
	{
		
	}
*/	


/* PRODUKTY */
.produkty {
	margin-left: auto;
	margin-right: auto;
}

.produkt_kafelek {
	padding: 10px;
	margin: 10px;
	float: left;
	background-color: lightblue;
	border-radius: 10px 10px;
}

.produkt_kafelek .img {
	width: 300px;
	height: 200px;
}

.produkt_kafelek .category {
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	color: gray;
}

.produkt_kafelek .title {
	display: block;
}

.produkt_kafelek .price {
	margin-right: auto;
	display: inline-block;
	color: #FFBB00;
	font-size: 24px;
	margin-top: 5px;
}

.produkt_kafelek .buy {
	margin-right: auto;
	background-color: #FFBB00;
	color: white;
	padding: 10px;
	text-decoration: none;
	font-weight: 700;

	float: right;
}

/* END */


/* .img-photo { 
  width: 100%;
  height: 100%;
  object-fit: contain;
} */


footer {
	
}

@media (min-width: 1024px) {
	main ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 600px) and (max-width: 1023px) {
	main ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 599px) {
	main ul {
		grid-template-columns: 1fr;
	}
}