* { /*  Debug */
	box-sizing: border-box;
	border: 1px solid black;
}

body {
	/* background-image: url(); */
	font-size: 16px; 
	margin: 0;
	padding: 0;
	font-family: monospace;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex; /* FIXME: tu niewiem*/
	height: 40px;
}

.Nazwa {
	width: 20%;
	letter-spacing: -0.5px;
	text-align: center;
	padding: 2px;

	background-color: #FF3535;
	color: #FFFF00;
	border-radius: 5px;

	font-size: 1.2rem;
	text-shadow: 1px 0.5px 0.5px #550000;
}

.Wyszukiwarka {
	width: 60%;
	align-content: center;
}

.Koszyk {
	width: 20%;
	align-content: center;
}

/* KATEGORIE (nav) */
nav {
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	/* justify-content: center; */
	letter-spacing: -0.5px;
	list-style-type: none;
	list-style-position: outside;
	display: flex;
	gap: 5px;
	padding: 0;
	overflow-x: scroll;
}

nav li {
	text-align: center;
	padding: 5px;
	background-color: #FFBB00;
	border-radius: 8px;
	font-size: 1.7rem;
	width: 100%;
}

/* LINKI */

a:link {
	cursor: pointer;
	text-decoration: none;
	text-shadow: 1px 1px 0.5px #222222;
}

a:visited {
	cursor: pointer;
	text-decoration: none;
	color: #FF0000;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #FFE9E9;
}

a:active {
	cursor: pointer;
	text-decoration: none;
	color: #FF3535;
}

/* PRODUKTY */
.produkty {
	margin-left: auto;
	margin-right: auto;
}

.produkt_kafelek {
	padding: 10px;
	margin: 10px;
	float: left;
	background-color: lightblue;
	border-radius: 10px 10px;
}

.produkt_kafelek .img {
	width: 300px;
	height: 200px;
}

.produkt_kafelek .category {
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	color: gray;
}

.produkt_kafelek .title {
	display: block;
}

.produkt_kafelek .price {
	margin-right: auto;
	display: inline-block;
	color: #FFBB00;
	font-size: 24px;
	margin-top: 5px;
}

.produkt_kafelek .buy {
	margin-right: auto;
	background-color: #FFBB00;
	color: white;
	padding: 10px;
	text-decoration: none;
	font-weight: 700;

	float: right;
}

@media (min-width: 1024px) {
	main ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 600px) and (max-width: 1023px) {
	main ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 599px) {
	main ul {
		grid-template-columns: 1fr;
	}
}